[gene-expression],,,,
reference,/cellranger_bash/cellranger_reference,,,
Expect-cells,30000,,,
include-introns,TRUE,,,
[feature],,,,
reference,/cellranger_bash/5gex_protein_feature_ref.csv,,,
[vdj]
reference,/cellranger_bash/refdata-cellranger-vdj-GRCh38-alts-ensembl-5.0.0
[libraries],,,,
fastq_id,fastqs,lanes,feature_types,subsample_rate
NICA_unsort_GEX01,/Nicaragua_single_cell/Flowcell_H33JVDSX5/Sample_NICA_unsort_GEX01/,any,gene expression,
NICA_unsort_GEX01,/Nicaragua_single_cell/Flowcell_H353TDSX5/Sample_NICA_unsort_GEX01/,any,gene expression,
NICA_unsort_GEX01,/Nicaragua_single_cell/Flowcell_H357FDSX5/Sample_NICA_unsort_GEX01/,any,gene expression,
NICA_unsort_GEX01,/Nicaragua_single_cell/Flowcell_HHYYMDSX5/Sample_NICA_unsort_GEX01/,any,gene expression,
NICA_unsort_CSP01,/Nicaragua_single_cell/Flowcell_H33JVDSX5/Sample_NICA_unsort_CSP01/,any,antibody capture,
NICA_unsort_CSP01,/Nicaragua_single_cell/Flowcell_H353TDSX5/Sample_NICA_unsort_CSP01/,any,antibody capture,
NICA_unsort_CSP01,/Nicaragua_single_cell/Flowcell_H357FDSX5/Sample_NICA_unsort_CSP01/,any,antibody capture,
NICA_unsort_CSP01,/Nicaragua_single_cell/Flowcell_HHYYMDSX5/Sample_NICA_unsort_CSP01/,any,antibody capture,
NICA_unsort_BCR01,/Nicaragua_single_cell/Flowcell_H33JVDSX5/Sample_NICA_unsort_BCR01/,any,vdj-b,
NICA_unsort_BCR01,/Nicaragua_single_cell/Flowcell_H353TDSX5/Sample_NICA_unsort_BCR01/,any,vdj-b,
NICA_unsort_BCR01,/Nicaragua_single_cell/Flowcell_H357FDSX5/Sample_NICA_unsort_BCR01/,any,vdj-b,
NICA_unsort_BCR01,/Nicaragua_single_cell/Flowcell_HHYYMDSX5/Sample_NICA_unsort_BCR01/,any,vdj-b,
NICA_unsort_TCR01,/Nicaragua_single_cell/Flowcell_H33JVDSX5/Sample_NICA_unsort_TCR01/,any,vdj-t,
NICA_unsort_TCR01,/Nicaragua_single_cell/Flowcell_H353TDSX5/Sample_NICA_unsort_TCR01/,any,vdj-t,
NICA_unsort_TCR01,/Nicaragua_single_cell/Flowcell_H357FDSX5/Sample_NICA_unsort_TCR01/,any,vdj-t,
NICA_unsort_TCR01,/Nicaragua_single_cell/Flowcell_HHYYMDSX5/Sample_NICA_unsort_TCR01/,any,vdj-t,